<a href="https://colab.research.google.com/github/kavithabakshi/ADNI/blob/master/ADNI_Metadata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
metadata_test = 'https://raw.githubusercontent.com/kavithabakshi/ADNI/master/ADNI_Metadata_test.csv'
metadata = 'https://raw.githubusercontent.com/kavithabakshi/ADNI/master/ADNI_Metadata.csv'
df = pd.read_csv(metadata, sep='\s*,\s*',delimiter = ',')
print(df.shape)
df_cn=df[df['researchGroup']=="CN"]
print(df_cn.shape)
df_ad=df[df['researchGroup']=="AD"]
print(df_ad.shape)
df_mci=df[df['researchGroup']=="MCI"]
print(df_mci.shape)
df.info()
df.isnull().sum()

(1599, 9)
(490, 9)
(332, 9)
(777, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 9 columns):
researchGroup    1599 non-null object
subjectSex       1599 non-null object
MMSCORE          1599 non-null int64
GDTOTAL          1599 non-null int64
CDGLOBAL         1599 non-null float64
NPISCORE         1599 non-null int64
FAQTOTAL         1599 non-null int64
subjectAge       1599 non-null float64
weightKg         1599 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 112.5+ KB

researchGroup    0
subjectSex       0
MMSCORE          0
GDTOTAL          0
CDGLOBAL         0
NPISCORE         0
FAQTOTAL         0
subjectAge       0
weightKg         0
dtype: int64

In [27]:
print(df.columns)
y = df['researchGroup']
print(y.shape)
X = df.drop(['researchGroup'], axis=1)
print(X.shape)
X = pd.get_dummies(data = X, columns = ['subjectSex'] , prefix = ['subjectSex'] , drop_first = True)
print(X.shape, '\n', X.columns)
X.head()
y = pd.get_dummies(data = y, columns = ['researchGroup'] , prefix = ['researchGroup'] , drop_first = True)
print(y.shape, '\n', y.columns)
y.head()

Index(['researchGroup', 'subjectSex', 'MMSCORE', 'GDTOTAL', 'CDGLOBAL',
       'NPISCORE', 'FAQTOTAL', 'subjectAge', 'weightKg'],
      dtype='object')
(1599,)
(1599, 8)
(1599, 8)
 Index(['MMSCORE', 'GDTOTAL', 'CDGLOBAL', 'NPISCORE', 'FAQTOTAL', 'subjectAge',
       'weightKg', 'subjectSex_M'],
      dtype='object')
(1599, 2)
 Index(['['researchGroup']_CN', '['researchGroup']_MCI'], dtype='object')

   ['researchGroup']_CN  ['researchGroup']_MCI
0                     1                      0
1                     1                      0
2                     1                      0
3                     1                      0
4                     1                      0

In [22]:
from tensorflow.keras import layers
from tensorflow import keras 
import tensorflow as tf
from tensorflow.python.layers import base
import tensorflow.contrib.slim as slim

from keras.layers import Dense, Input, Embedding, Reshape, Dropout
from keras.models import Model,Sequential
from keras.layers.merge import concatenate
from keras.wrappers.scikit_learn import KerasRegressor, KerasClassifier
from keras.optimizers import SGD
from keras.constraints import maxnorm

Using TensorFlow backend.

In [28]:
droprate = 0.5
model = Sequential()
model.add(Dense(128, input_dim=8, activation='relu'))
model.add(Dropout(droprate))
model.add(Dense(128, activation='relu'))
model.add(Dropout(droprate))
model.add(Dense(2, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X,y)

Epoch 1/1
1599/1599 [==============================] - 1s 429us/step - loss: 3.5881 - acc: 0.5444